.form__button--reset {
        width: 100%;
        border: none;
        background-color: rgb(110, 110, 255);
        color: white;
        padding: 10px;
        border-radius: 5px;
    }
    
    .form__button--reset:hover {
        background-color: rgb(92, 92, 233);
    }
    
    .form__button--reset:active {
        background-color: rgb(92, 92, 180);
    }
    
   