.form__fieldset {
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
    background-color: aqua;
    box-shadow: 0px 0px 40px 2px #000;

}

.form__legend {
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(110, 110, 255);
}

.form__labelText {
    width: 150px;
    display: inline-block;
    margin-right: 5px;
}

.form__labelText--result {
    font-weight: bold;
    display: inline-block;
    margin-right: 3px;
    font-size: 18px;
}

.form__field {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
}

.form__field:read-only {
    background-color: rgb(229, 225, 225);
}

.form__field:required {
    border-color: #777;
    background-color: rgb(255, 213, 213);
}

.form__field--select .form__field--select {
    background-color: white;
}

.form__button {
    width: 100%;
    border: none;
    background-color: rgb(110, 110, 255);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.form__button:hover {
    background-color: rgb(92, 92, 233);
}

.form__button:active {
    background-color: rgb(92, 92, 180);
}

.form__button--result {
    text-align: center;
}